@import "tailwindcss";

button{
    cursor: pointer;
}

body{
  background: #000;
}


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes shimmer {
  0% { opacity: 0.4; }
  50% { opacity: 0.8; }
  100% { opacity: 0.4; }
}

.shimmer {
  animation: shimmer 1.5s infinite ease-in-out;
}